
$ git config --global core.excludesfile ~/.gitignore
$ echo .DS_Store >> ~/.gitignore
.DS_Store
LICENSE
VEX ROBOTICS 2022-23.png
README.md
VEX ROBOTICS 2022-23.png
LICENSE
README.md
ChristmasCode/build/src/robot-config.o
ChristmasCode/build/ChristmasCode.map
ChristmasCode/build/ChristmasCode.elf
ChristmasCode/build/ChristmasCode.bin
ChristmasCode/build/src/robot-config.o
ChristmasCode/build/src/main.o
ChristmasCode/build/ChristmasCode.elf
ChristmasCode/build/ChristmasCode.bin
ChristmasCode/build/ChristmasCode.map
